{% include 'user/base.html' %}
{% load crispy_forms_tags %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col mt-5">
            <div class="card">
                <div class="card-body">
                    {% if query_org %}

                    <div class="list-group">
                        {% for object in query_org %}
                        <a href="#" class="list-group-item list-group-item-action">{{ object.name}}</a>
                        {% endfor %}
                    </div>
                    {% else %}
                    <form action="." method="post">{% csrf_token %}
                        <div class="mb-3">
                            {{ form | crispy }}
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">submit</button>
                    </form>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
