{% include 'user/base.html' %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-8  mt-5">
            <h3>location form</h3>
            <form action="." method="post">{% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary mt-3">submit</button>
            </form>
            <hr>
            <h3>location list</h3>
            <ul class="list-group mt-5">
                {% for object in location %}
                <li class="list-group-item">{{object.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
