{% include 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col mt-5">
            <h3>Requests</h3>
            <div class="row">
                <div class="col-md-4 mt-3">
                    <ul class="list-group" id="tenant-group">
                        {% for r in friend_requests %}
                        <li class="list-group-item">{{ r }}</li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
