{% include 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container-fluid pb-3 mt-5">
    <div class="row align-items-md-stretch">
        <div class="col-md-4">
            <div class="h-100 p-5 bg-light border rounded-3" id="client-schema-name"
                data-schema="{{ object.schema_name }}">
                <h2>{{ object.name }} profile</h2>
                <small>{{ object.organization }}</small>
                <small class="opacity-50 text-nowrap">{{ object.created }}</small>
                <p>Or, keep it light and add a border for some added definition to the boundaries of your content.</p>
                <small class="opacity-50 text-nowrap">Admin: </small><strong>{{object.has_admin}}</strong><br>
                <small class="opacity-50 text-nowrap">Manager: </small><strong>{{object.manager}}</strong><br>
                <small class="opacity-50 text-nowrap">Total members:
                </small><strong>{{object.member_count}}</strong><br>
                {% for aq in active_requests %}
                <small>Pending request:</small> <strong>{{aq.receiver}}</strong><br>
                {% endfor %}
                <small class="opacity-50 text-nowrap">Members: </small><br>
                {% for m in object.members.all %}
                <strong>{{ m }}</strong><br>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Add border</h2>
                <p>Or, keep it light and add a border for some added definition to the boundaries of your content.</p>

                <form action="." method="post">{% csrf_token %}
                    <div class="form-floating mb-3">
                        {{ form | crispy }}
                    </div>
                </form>
                <button class="btn btn-outline-primary" type="submit">Example button</button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="list-group">
                {% for user in global_user %}
                <li class="list-group-item list-group-item-action d-flex gap-3 py-3">
                    <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32"
                        class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mt-1">{{ user }}</h6>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm" id="invite-btn"
                            onclick="sendFriendRequest('{{ user.id }}')">Invite</button>
                    </div>
                </li>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
    var schema_name = $('#client-schema-name').attr('data-schema')
    function sendFriendRequest(id) {
        payload = {
            "csrfmiddlewaretoken": "{{ csrf_token }}",
            "receiver_user_id": id,
            "schema_name": schema_name,
        }
        $.ajax({
            type: 'POST',
            dataType: "json",
            url: "{% url 'send_friend_request' %}",
            timeout: 5000,
            data: payload,
            success: function (data) {
                console.log("SUCCESS", data)
                if (data['response'] == "Friend request sent.") {
                    // ui is updated
                }
                else if (data['response'] != null) {
                    alert(data['response'])
                }
            },
            error: function (data) {
                console.error("ERROR...", data)
                alert("Something went wrong.")
            },
            complete: function (data) {
                $('#invite-btn').click(function () {
                    $(this).fadeOut(1000)
                });
            }
        });
    }
</script>
{% endblock extrascripts %}
